.Rproj.user
.Rhistory
.RData
.Ruserdata
./data/artists-alt.csv
./data/artists-indie.csv
./data/bios.csv
./data/ids-test.csv
./data/tour-dates-test.csv
./data/lastfm-api.ipynb
./data/spotify-api.ipynb
./data/songkick-api.ipynb
