.Rproj.user
.Rhistory
.RData
.Ruserdata
./data/artists-alt.csv
./data/artists-indie.csv
./data/bios.csv
./data/ids-test.csv
./data/tour-dates-test.csv
./data/lastfm-api.ipynb
./data/spotify-api.ipynb
./data/songkick-api.ipynb
./data/tour-dates-batch1.csv
./data/tour-dates-batch2.csv
./data/tour-dates-batch3.csv
./data/tour-dates-batch4.csv
./data/tour-dates-batch5.csv
./data/tour-dates-batch6.csv
./data/tour-dates-batch7.csv
./data/tour-dates-batch8.csv
./data/tour-dates-batch9.csv
./data/ids.csv
